body {
    text-align: center;
    font-family: arial;
}


ul{
    list-style: none;
    padding: 0px;

}
a {
    color: #484848
}
li {
    font-size: 15px;
    line-height: 32px;
}

figcaption {
    font-size: 12px;
}


.navigation {
    background-color: #c4170c;
    color: white;
}
.navigation h2 {
    background-color: #b0140a;
}





.titulo-artigo h1 {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 48px;
} 
.titulo-artigo h2 {
    margin-left: 140px;
    margin-right: 140px;
    font-size: 18px;
    color: #484848;
}






.content {
    width:700px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: left;
}
.content img {
    width: 350px;
    margin-top: 35px;
}

.content h3 {
    font-size: 13px;
}
.content p {
    line-height:30px;
    color: #484848;
}




